@import url(font-face.css);

/* General Styling */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'SoDoSans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -.01em;
    line-height: 1.5;
    margin: 0;
}

a {
    color: rgba(0, 0, 0, 0.87);
}

/* Header Styling */
header {
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    height: 101px;
    position: relative;
}
.header__wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 2.4rem;
}
.left-nav {
    align-items: center;
    display: flex;
    height: 100%;
}
.logo {
    height: 51px;
    width: 51px;
    margin-right: 40px;
}
.logo img {
    height: 100%;
}
.left-nav nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.left-nav nav ul li {
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.left-nav nav ul li:not(:first-child){
    padding-left: 24px;
}
.left-nav nav ul li:hover {
    color: #008248;
}
.right-nav {
    align-items: center;
    display: flex;
}
.find-store {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    margin-right: 40px;
}
.find-store:hover {
    color: #008248
}
.find-store svg {
    padding-right: 8px;
}
.sign-in, .join-now {
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.2;
    padding: 7px 16px;
}
.sign-in {
    margin-right: 16px;
    transition: all .2s ease;
}
.sign-in:hover {
    background-color: rgba(0,0,0,.06);
}
.join-now {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease;
}
.join-now:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
}

/* Main Styling */
.main-container {
    margin: 0 auto;
    max-width: 1440px;
}
.announcements {
    background-color: #d8e8e3;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    padding: 32px 0;
}
.announcements span {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.75;
    max-width: 60%;
    padding: 0 40px;
    text-align: center;
}
.announcements span a:hover {
    text-decoration: none;
}
.lr-section {
    display: flex;
    margin-bottom: 32px;
}
.lr-section .text {
    align-items: center;
    background-color: #f1f8f6;
    color: #1e3932;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 48px;;
    width: 50%;
}
.lr-section .text h1, .lr-section .text h3 {
    margin: 0;
}
.lr-section .text h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
}
.lr-section .text h3 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 32px;
    text-align: center;
}
.text .cta {
    border: 1px solid #1e3932;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    padding: 7px 16px;
    transition: all 0.2s ease;
}
.text .cta:hover {
    background-color: rgba(30, 57, 50, 0.1);
}
.lr-section .image {
    width: 50%;
    display: flex;
}
.lr-section .image img {
    width: 100%;
}
.refresher-drinks .text {
    background-color: #f2f0eb;
}
.refresher-drinks .text h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 8px;
    line-height: 1.2;
}
.refresher-drinks .text h3 {
    font-size: 24px;
    line-height: 1.5;
}
.online-ordering {
    display: flex;
    margin-bottom: 32px;
}
.tb-section {
    display: flex;
    width: 50%;
}
.section-wrapper {
    display: flex;
    flex-direction: column;
}
.tb-section:first-child .section-wrapper {
    margin-right: 16px;
}
.tb-section:last-child .section-wrapper {
    margin-left: 16px;
}
.tb-section .image {
    display: flex;
    width: 100%;
}
.tb-section .image img {
    width: 100%;
}
.tb-section .text {
    background-color: #d4e9e2;
    color: #1e3932;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    padding: 8px 24px 32px 24px;
}
.tb-section .text h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}
.tb-section .text h3 {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.75;
}
.tb-section .cta-container {
    align-items: center;
    display: flex;
    justify-content: center;
}
.years-of-service .text {
    background-color: #f2f0eb;
}
.restrictions {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 32px 0;
    margin-bottom: 32px;
}
.restriction span {
    font-size: 16px;
    padding: 0 48px;
    text-align: center;
}
.restrictions span a:hover {
    text-decoration: none;
}
.terms {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 32px 0;
}
.terms span {
    font-size: 14px;
    letter-spacing: -0.16px;
    line-height: 1.8;
    max-width: 54%;
    padding: 0 48px;
    text-align: center;
}
footer {
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    padding: 24px 0;
}
.footer-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 40px;
}
.footer-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.links-row {
    display: flex;
}
.links-column {
    width: 190px;
}
.links-column:not(:first-child) {
    margin-left: 32px;
}
.links-column h3 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 24px;
}
.links-column ul li {
    color: rgba(0, 0, 0, 0.56);
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 8px;
    padding: 8px 0;
}
.links-column ul li:hover {
    color: rgba(0,0,0,.87);
}
.line-divider {
    padding: 32px 0;
}
.line-divider::after {
    content: "";
    display: block;
    border-top: 2px solid rgba(0,0,0,.1);
}
.social-media ul {
    display: flex;
    margin-left:-5px;
}
.social-media ul li {
    display: inline-block;
    position: relative;
    margin-right: 4px;
    min-height: 44px;
    min-width: 44px;
    transition: all .2s ease-out;
}
.social-media ul li svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social-media ul li:hover .sb-icon-hover{
    fill: rgba(0, 0, 0, 0.87);
    opacity: 0.1;
}
.terms-and-policies ul {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 4px 0;
}
.terms-and-policies ul li {
    cursor: pointer;
    padding-right: 16px;
}
.terms-and-policies ul li:not(:first-child) {
    padding-left: 16px;
}
.terms-and-policies ul li:hover {
    text-decoration: underline;
}
.terms-and-policies ul span {
    color: rgba(0, 0, 0, 0.56);
    padding-left: 8px;
    padding-right: 8px;
}
.copyright {
    color: rgba(0,0,0,.56);
    padding: 16px 0;
}